.section-futures {
  padding-top: 11.25rem;
  &__container {
    max-width: 88rem;
    width: 100%;
    margin: 0 auto;
  }
  &__item {
    background: #F8F8F8;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.9rem 2.25rem 3rem 2.25rem;
    transition: all 1s;
    gap: .63rem;
    height: 100%;
    &:hover {
      background: #FFF;
      box-shadow: 4px 4px 20px 11px rgba(34, 60, 80, 0.2);
    }
    &-text {
      text-align: center;
      &-title {
        color: #2C2C2C;
        font-size: 1.5rem;
        font-weight: 700;
      }
      &-subtitle {
        color: #A79997;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.625rem; /* 144.444% */
      }
    }
  }
}