@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  font-family: 'Noto Serif', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 105rem;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-3 {
  width: 25%;
  padding: 15px;
}

.col-4 {
  width: 33.33%;
  padding: 15px;
}

.col-8 {
  width: 66.66%;
  padding: 15px;
}

@media screen and (max-width: 1600px) {
  .container {
    padding: 0 .625rem;
  }
}